<div th:fragment="nav" class="container">
    <div class="row">
        <div class="twelve columns">
            <!--<login-component></login-component>-->
            <ul class="navMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>